In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read csv into python
nasa = pd.read_csv('Meteorite_Landings.csv')

In [3]:
#Check out data
nasa.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [4]:
print(nasa.dtypes)

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year           float64
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [5]:
print(nasa.nunique())

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             265
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [6]:
#Check for any obvious outliers in year
nasa.id.groupby(nasa.year).count()

year
860.0        1
920.0        1
1399.0       1
1490.0       1
1491.0       1
          ...
2010.0    1005
2011.0     713
2012.0     234
2013.0      11
2101.0       1
Name: id, Length: 265, dtype: int64

In [7]:
#Delete row with impossible year
delete_row_1 = nasa[nasa['year'] == 2101.0].index
nasa = nasa.drop(delete_row_1)

In [8]:
nasa.id.groupby(nasa.year).count()

year
860.0        1
920.0        1
1399.0       1
1490.0       1
1491.0       1
          ...
2009.0    1497
2010.0    1005
2011.0     713
2012.0     234
2013.0      11
Name: id, Length: 264, dtype: int64

In [9]:
#Drop nan from year
#Can now use for questions about year
nasa_drop = nasa.dropna(axis=0, how='any').copy()

In [10]:
#Change the year column to int
nasa_drop.year = nasa_drop.year.astype(int)

In [11]:
nasa_drop.sort_values('year')

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
704,Nogata,16988,Valid,L6,472.0,Fell,860,33.72500,130.75000,"(33.725, 130.75)"
278,Elbogen,7823,Valid,"Iron, IID",107000.0,Fell,1399,50.18333,12.73333,"(50.18333, 12.73333)"
856,Rivolta de Bassi,22614,Valid,Stone-uncl,103.3,Fell,1490,45.48333,9.51667,"(45.48333, 9.51667)"
283,Ensisheim,10039,Valid,LL6,127000.0,Fell,1491,47.86667,7.35000,"(47.86667, 7.35)"
5365,Campo del Cielo,5247,Valid,"Iron, IAB-MG",50000000.0,Found,1575,-27.46667,-60.58333,"(-27.46667, -60.58333)"
...,...,...,...,...,...,...,...,...,...,...
30775,Northwest Africa 7856,57421,Valid,LL6,517.0,Found,2013,0.00000,0.00000,"(0.0, 0.0)"
30781,Northwest Africa 7863,57427,Valid,LL5,1000.0,Found,2013,0.00000,0.00000,"(0.0, 0.0)"
30780,Northwest Africa 7862,57426,Valid,L4/5,317.0,Found,2013,0.00000,0.00000,"(0.0, 0.0)"
30777,Northwest Africa 7858,57423,Valid,H4,459.0,Found,2013,0.00000,0.00000,"(0.0, 0.0)"
30779,Northwest Africa 7861,57425,Valid,L5,611.0,Found,2013,0.00000,0.00000,"(0.0, 0.0)"

In [12]:
#Here is the percentage of meteorites that are found and that fell.
#This shows that a vast majority of meteorites were found and only a small amount were observed falling.
met_fell = nasa.id[nasa['fall'] == 'Fell'].count()
met_found = nasa.id[nasa['fall'] == 'Found'].count()
percent_met_fell = round((met_fell / nasa.id.count()) * 100, 2)
percent_met_found = round((met_found / nasa.id.count()) * 100, 2)
print('The percent of meteorites that fell is ' + str(percent_met_fell) + '%.')
print('The percent of meteorites that are found is ' + str(percent_met_found) + '%.')

The percent of meteorites that fell is 2.42%.
The percent of meteorites that are found is 97.58%.

In [13]:
#This data shows that on average more meteorites fell in the past and a lot more are being found now.
#This makes sense with the percentage of meteorites that fell and were found.  The meteorites are found so much more often that
#it influences the average to a greater extent.
average_year = round(nasa_drop.year.mean())
print('The average year that a meteorite falls or is found is ' + str(average_year) + '.')
average_year_fell = round(nasa_drop.year[nasa['fall'] == 'Fell'].mean())
print('The average year that a meteorite falls is ' + str(average_year_fell) + '.')
average_year_found = round(nasa_drop.year[nasa['fall'] == 'Found'].mean())
print('The average year that a meteorite is found is ' + str(average_year_found) + '.')

The average year that a meteorite falls or is found is 1990.
The average year that a meteorite falls is 1914.
The average year that a meteorite is found is 1992.

In [14]:
#Gives the most common years for meteorites to fall or be found.
print(nasa_drop.id.groupby(nasa_drop.year).count().reset_index(name='Count').sort_values(['Count'], ascending=False).reset_index(drop=True).to_string())

     year  Count
0    1979   3045
1    1988   2295
2    1998   2147
3    2003   1754
4    2006   1616
5    1999   1592
6    1990   1506
7    1997   1505
8    2000   1502
9    2009   1496
10   1986   1374
11   2001   1339
12   2002   1066
13   2007   1038
14   2010   1005
15   1993    976
16   2008    936
17   1987    914
18   1991    869
19   1994    717
20   2011    713
21   1974    691
22   1996    573
23   1995    484
24   1981    458
25   1977    420
26   1984    402
27   1985    377
28   1992    372
29   2004    366
30   1983    359
31   1982    344
32   1975    336
33   2005    328
34   1978    260
35   2012    234
36   1980    143
37   1989    135
38   1969     67
39   1968     52
40   1937     52
41   1976     50
42   1971     47
43   1965     46
44   1970     46
45   1938     44
46   1940     37
47   1950     36
48   1962     36
49   1936     35
50   1967     34
51   1963     33
52   1939     32
53   1964     31
54   1972     31
55   1933     30
56   1973     29
57   1961     27
58   1960     26
59   1934     26
60   1956     25
61   1932     25
62   1966     24
63   1941     23
64   1955     22
65   1903     22
66   1954     21
67   1887     21
68   1949     21
69   1890     20
70   1942     20
71   1935     19
72   1917     19
73   1910     19
74   1951     19
75   1916     19
76   1948     19
77   1930     18
78   1914     18
79   1921     18
80   1924     18
81   1944     18
82   1957     18
83   1958     18
84   1931     17
85   1898     17
86   1952     17
87   1947     17
88   1900     16
89   1928     16
90   1927     16
91   1925     16
92   1923     16
93   1907     16
94   1868     16
95   1959     16
96   1863     15
97   1888     15
98   1889     15
99   1918     15
100  1929     15
101  1922     15
102  1905     14
103  1880     14
104  1879     14
105  1919     14
106  1899     14
107  1920     14
108  1875     13
109  1926     13
110  1915     13
111  1906     13
112  1908     13
113  1869     12
114  1902     12
115  1866     12
116  1912     12
117  1897     12
118  1893     12
119  1946     12
120  1913     11
121  1911     11
122  1945     11
123  1892     11
124  1904     11
125  2013     11
126  1884     11
127  1860     11
128  1886     10
129  1891     10
130  1883     10
131  1894     10
132  1895     10
133  1943     10
134  1857     10
135  1909     10
136  1876      9
137  1953      9
138  1854      9
139  1873      9
140  1855      9
141  1896      9
142  1901      9
143  1877      9
144  1882      9
145  1878      9
146  1881      9
147  1858      8
148  1850      8
149  1867      8
150  1865      8
151  1852      8
152  1840      7
153  1838      7
154  1846      7
155  1885      7
156  1871      7
157  1856      6
158  1861      6
159  1822      6
160  1870      6
161  1872      6
162  1843      6
163  1874      6
164  1837      5
165  1839      5
166  1814      5
167  1853      5
168  1808      5
169  1847      5
170  1818      5
171  1804      5
172  1810      5
173  1859      5
174  1836      5
175  1812      4
176  1829      4
177  1848      4
178  1841      4
179  1842      4
180  1844      4
181  1864      4
182  1811      3
183  1805      3
184  1819      3
185  1825      3
186  1803      3
187  1824      3
188  1834      3
189  1826      3
190  1845      3
191  1862      3
192  1849      3
193  1851      3
194  1827      3
195  1798      2
196  1807      2
197  1768      2
198  1784      2
199  1795      2
200  1796      2
201  1830      2
202  1823      2
203  1828      2
204  1753      2
205  1835      2
206  1831      2
207  1813      2
208  1815      2
209  1575      1
210  1688      1
211  1749      1
212  1741      1
213  1740      1
214  1724      1
215  1723      1
216  1600      1
217  1716      1
218  1715      1
219  1668      1
220  1671      1
221  1621      1
222  1637      1
223  1491      1
224  1632      1
225  1628      1
226  1490      1
227  1751      1
228  1623      1
229  1583      1
230  1399      1
231  1766      1
232  1797      1
233  1833      1
234  1832      1
235  1821      1
236  1820      1
237  1817      1
238  1809      1
239  1806      1
240  1801      1
241  1794      1
242  1773      1
243  1793      1
244  1792      1
245  1790      1
246  1787      1
247  1785      1
248  1781      1
249  1776      1
250  1775      1
251   860      1

In [15]:
#These are the most common years where meteorites fell.
#These tend to be much farther in the past than the meteorites that are found.
print(nasa_drop.id[nasa_drop['fall'] == 'Fell'].groupby(nasa_drop.year).count().reset_index(name='Count').sort_values(['Count'], ascending=False).reset_index(drop=True).to_string())

     year  Count
0    1933     17
1    1949     12
2    1938     11
3    1950     11
4    1930     11
5    1868     11
6    1916     10
7    1977     10
8    1934     10
9    1984     10
10   1924     10
11   1917     10
12   1976     10
13   1910     10
14   1939     10
15   1890      9
16   2008      9
17   1986      9
18   2003      9
19   1998      9
20   1932      8
21   1956      8
22   1897      8
23   1921      8
24   1879      8
25   1942      8
26   1970      8
27   1900      8
28   1903      8
29   2007      8
30   2002      8
31   1919      7
32   1877      7
33   1902      7
34   1880      7
35   1869      7
36   1866      7
37   1899      7
38   1865      7
39   1906      7
40   1857      7
41   1929      7
42   1926      7
43   1925      7
44   1914      7
45   1981      7
46   1962      7
47   1974      7
48   1971      7
49   1999      7
50   1886      7
51   1961      7
52   1963      7
53   1967      7
54   1990      7
55   1994      6
56   1923      6
57   1922      6
58   1964      6
59   1918      6
60   1989      6
61   1855      6
62   1908      6
63   1863      6
64   1969      6
65   2004      6
66   2010      6
67   1875      6
68   1860      6
69   1878      6
70   1954      6
71   1947      6
72   1935      6
73   1988      6
74   1952      6
75   1957      6
76   1959      6
77   1951      6
78   1928      6
79   1980      6
80   1927      6
81   1937      6
82   1940      5
83   1873      5
84   1936      5
85   1876      5
86   2009      5
87   2006      5
88   1946      5
89   2001      5
90   1905      5
91   1843      5
92   1996      5
93   1887      5
94   1968      5
95   1911      5
96   1995      5
97   1898      5
98   1991      5
99   1889      5
100  1838      5
101  1920      5
102  1944      5
103  1901      4
104  1896      4
105  1894      4
106  1904      4
107  1907      4
108  1912      4
109  1913      4
110  1931      4
111  1941      4
112  1945      4
113  1955      4
114  1960      4
115  1965      4
116  1966      4
117  1895      4
118  1975      4
119  1893      4
120  1993      4
121  1822      4
122  1983      4
123  1848      4
124  1814      4
125  1812      4
126  1852      4
127  1808      4
128  1859      4
129  1861      4
130  1858      4
131  1882      4
132  1872      4
133  2011      4
134  1881      4
135  1892      4
136  1871      4
137  1829      3
138  1827      3
139  1826      3
140  1824      3
141  1973      3
142  1972      3
143  1943      3
144  1818      3
145  1997      3
146  1948      3
147  2000      3
148  1803      3
149  1804      3
150  1811      3
151  1953      3
152  1810      3
153  1992      3
154  1982      3
155  1853      3
156  1844      3
157  1884      3
158  1883      3
159  1870      3
160  1867      3
161  1864      3
162  1978      3
163  1851      3
164  1846      3
165  1874      3
166  1842      3
167  1841      3
168  1840      3
169  1836      3
170  1837      3
171  1823      2
172  1768      2
173  1798      2
174  1796      2
175  1795      2
176  1753      2
177  1909      2
178  1830      2
179  1831      2
180  1885      2
181  1891      2
182  2012      2
183  1862      2
184  1958      2
185  1805      2
186  1845      2
187  1807      2
188  1856      2
189  1834      2
190  1915      2
191  1825      2
192  1813      2
193  1850      2
194  1979      2
195  1815      2
196  1985      2
197  1847      2
198  1819      2
199  1835      2
200  1987      1
201   860      1
202  1399      1
203  1854      1
204  1741      1
205  1740      1
206  1723      1
207  1715      1
208  1688      1
209  1671      1
210  1668      1
211  1637      1
212  1632      1
213  1628      1
214  1623      1
215  1621      1
216  1583      1
217  1491      1
218  1490      1
219  1751      1
220  1766      1
221  1773      1
222  1817      1
223  1849      1
224  1839      1
225  1833      1
226  1828      1
227  1821      1
228  1820      1
229  1809      1
230  1775      1
231  1806      1
232  1801      1
233  1794      1
234  1790      1
235  1787      1
236  1785      1
237  2013      1

In [16]:
#These are the most common years that a meteorite was found.
#These tend to be much more recent than the meteorites that fell.
print(nasa_drop.id[nasa_drop['fall'] == 'Found'].groupby(nasa_drop.year).count().reset_index(name='Count').sort_values(['Count'], ascending=False).reset_index(drop=True).to_string())

     year  Count
0    1979   3043
1    1988   2289
2    1998   2138
3    2003   1745
4    2006   1611
5    1999   1585
6    1997   1502
7    2000   1499
8    1990   1499
9    2009   1491
10   1986   1365
11   2001   1334
12   2002   1058
13   2007   1030
14   2010    999
15   1993    972
16   2008    927
17   1987    913
18   1991    864
19   1994    711
20   2011    709
21   1974    684
22   1996    568
23   1995    479
24   1981    451
25   1977    410
26   1984    392
27   1985    375
28   1992    369
29   2004    360
30   1983    355
31   1982    341
32   1975    332
33   2005    328
34   1978    257
35   2012    232
36   1980    137
37   1989    129
38   1969     61
39   1968     47
40   1937     46
41   1965     42
42   1976     40
43   1971     40
44   1970     38
45   1938     33
46   1940     32
47   1936     30
48   1962     29
49   1972     28
50   1967     27
51   1973     26
52   1963     26
53   1950     25
54   1964     25
55   1939     22
56   1960     22
57   1961     20
58   1966     20
59   1941     19
60   1955     18
61   1956     17
62   1932     17
63   1948     16
64   1958     16
65   1887     16
66   1934     16
67   1888     15
68   1954     15
69   1903     14
70   1944     13
71   1933     13
72   1951     13
73   1935     13
74   1931     13
75   1898     12
76   1907     12
77   1942     12
78   1957     12
79   1890     11
80   1947     11
81   1952     11
82   1915     11
83   1914     11
84   1928     10
85   1927     10
86   1959     10
87   1923     10
88   1921     10
89   2013     10
90   1889     10
91   1905      9
92   1922      9
93   1920      9
94   1918      9
95   1916      9
96   1925      9
97   1917      9
98   1949      9
99   1910      9
100  1863      9
101  1912      8
102  1924      8
103  1909      8
104  1893      8
105  1884      8
106  1891      8
107  1900      8
108  1929      8
109  1854      8
110  1904      7
111  1883      7
112  1943      7
113  1880      7
114  1945      7
115  1946      7
116  1892      7
117  1875      7
118  1930      7
119  1899      7
120  1919      7
121  1908      7
122  1913      7
123  1894      6
124  1911      6
125  1879      6
126  1906      6
127  1850      6
128  1926      6
129  1953      6
130  1895      6
131  1868      5
132  1867      5
133  1866      5
134  1860      5
135  1869      5
136  1901      5
137  1902      5
138  1881      5
139  1882      5
140  1885      5
141  1896      5
142  1846      4
143  1852      4
144  1873      4
145  1876      4
146  1840      4
147  1856      4
148  1858      4
149  1839      4
150  1897      4
151  1857      3
152  1855      3
153  1847      3
154  1886      3
155  1870      3
156  1871      3
157  1874      3
158  1878      3
159  1838      2
160  1837      2
161  1804      2
162  1810      2
163  1784      2
164  1836      2
165  1877      2
166  1849      2
167  1818      2
168  1872      2
169  1853      2
170  1861      2
171  1822      2
172  1797      1
173  1793      1
174  1776      1
175  1792      1
176  1749      1
177  1724      1
178  1716      1
179  1805      1
180  1808      1
181  1781      1
182  1814      1
183  1844      1
184  1819      1
185  1825      1
186  1828      1
187  1829      1
188  1832      1
189  1834      1
190  1841      1
191  1842      1
192  1843      1
193  1845      1
194  1600      1
195  1859      1
196  1862      1
197  1864      1
198  1865      1
199  1575      1