In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
nasa = pd.read_csv('Meteorite_Landings.csv')

In [3]:
nasa.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [4]:
print(nasa.dtypes)

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year           float64
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [5]:
print(nasa.nunique())

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             265
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [6]:
print(nasa.year.count(order=desc))

NameError: name 'desc' is not defined